
*{
    font-family: Roboto
}

ActionBar{
  background-color: #F64060
}

StackLayout {
  padding-bottom: 15;
  background-color: white;
}
  
.ActionBarTitle{
  color: white;
  text-align: center;
  font-family: Medium;
  font-size: 20pt;
}
  
Button {
  margin-left: 32;
  margin-right: 32;
  margin-top: 10;
}

 .texte{
   text-align: center;
   font-family: Medium;
   font-size: 14pt;
   margin-top: 32px;
   width: 78%;
   color: black;
 }

 .confirm-button { 
  background-color: #F64060;
  width: 80%;
  border-radius: 54px;
  color: white;
  margin-top: 20;
}

 .confirm-input{
   width: 250px
 }

.label-login{
  text-align: center;
  color: #F64060;
  margin-top: 16px;
}
