<RadSideDrawer [drawerContentSize]="isTablet ? 340 : 280" [transition]="isIOS ? 'SlideAlongTransition' : 'PushTransition'"
  (drawerOpening)="onDrawerOpening($event)" (drawerClosing)="onDrawerClosing($event)">
  <Gradient tkDrawerContent class="menu-contents-wrapper" direction="to bottom right" colors="#2da7fb, #227ebe">
    <GridLayout class="sideStackLayout" rows="auto, auto, auto, auto, auto, auto, auto, *">

      <GridLayout row="0" rows="auto, auto" columns="50, *" class="sideOptions menu-safearea-top" [nsRouterLink]="['/feedback']"
        clearHistory="true" nsRouterLinkActive="active">
        <Label class="mdi" [text]="'mdi-message-text' | fonticon"></Label>
        <Label col="1" class="item-title" text="Feedback"></Label>
        <Label row="1" col="1" class="plugin-names" text="Fancy Alert, CFAlert Dialog, Feedback, Snackbar, Local Notifications, Toast"
          textWrap="true"></Label>
      </GridLayout>

      <GridLayout row="1" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border menu-bottom-border" [nsRouterLink]="['/input']"
        clearHistory="true" nsRouterLinkActive="active">
        <Label class="mdi" [text]="'mdi-keyboard' | fonticon"></Label>
        <Label col="1" class="item-title" text="Input"></Label>
        <Label row="1" col="1" class="plugin-names" [text]="(isIOS ? 'IQKeyboardManager, ' : '') + 'Checkbox, DrawingPad, Numeric Keyboard'"
          textWrap="true"></Label>
      </GridLayout>

      <GridLayout row="2" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border menu-bottom-border" [nsRouterLink]="['/acceuil']"
        nsRouterLinkActive="active">
        <Label class="mdi" [text]="'mdi-message-text' | fonticon"></Label>
        <Label col="1" class="item-title" text="Acceuil"></Label>
        <Label row="1" col="1" class="plugin-names" text="Fancy Alert, CFAlert Dialog, Feedback, Snackbar, Local Notifications, Toast"
          textWrap="true"></Label>
      </GridLayout>
      <GridLayout row="3" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border menu-bottom-border" [nsRouterLink]="['/historique']"
      nsRouterLinkActive="active">
      <Label class="mdi" [text]="'mdi-message-text' | fonticon"></Label>
      <Label col="1" class="item-title" text="Historique"></Label>
      <Label row="1" col="1" class="plugin-names" text="Fancy Alert, CFAlert Dialog, Feedback, Snackbar, Local Notifications, Toast"
        textWrap="true"></Label>
    </GridLayout>
      <GridLayout row="4" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border menu-bottom-border" [nsRouterLink]="['/firebase']"
        clearHistory="true" nsRouterLinkActive="active">
        <Label class="mdi" [text]="'mdi-fire' | fonticon"></Label>
        <Label col="1" class="item-title" text="Firebase"></Label>
        <Label row="1" col="1" class="plugin-names" text="NativeScript UI ListView, Firebase (Cloud Firestore, Google Auth, Analytics, Crashlytics), FAB"
          textWrap="true"></Label>
      </GridLayout>
      <GridLayout row="5" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border menu-bottom-border" [nsRouterLink]="['/virement']"
      nsRouterLinkActive="active">
      <Label class="mdi" [text]="'mdi-message-text' | fonticon"></Label>
      <Label col="1" class="item-title" text="Virement"></Label>
      <Label row="1" col="1" class="plugin-names" text="Fancy Alert, CFAlert Dialog, Feedback, Snackbar, Local Notifications, Toast"
        textWrap="true"></Label>
    </GridLayout>

      <!-- Note that the CSS class 'madeby-container' is added dynamically in app.component.ts -->
      <StackLayout row="5" class="sideOptions madeby-container" verticalAlignment="bottom" (tap)="openTwitter()">
        <Label class="mdi madeby-text" [text]="('mdi-heart-outline' | fonticon) + ' ORCA'"></Label>
      </StackLayout>
    </GridLayout>
  </Gradient>

  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>