<StackLayout >
    <ScrollView orientation="vertical">
        <StackLayout >
            <Image src="res://login_logo" stretch="none" horizontalAlignment="center"></Image>

            <FloatLabel placeholder ="Nom" hint="Nom"  [(ngModel)]="user.firstname"></FloatLabel>
                            
            <FloatLabel placeholder="Prenom" hint="Prenom" [(ngModel)]="user.lastname"></FloatLabel>

            <FloatLabel placeholder= "Email" hint="Adresse Email" keyboardType="email" [(ngModel)]="user.email"></FloatLabel>

            <FloatLabel placeholder = "Mot de passe" hint="Mot De Passe" secure="true" [(ngModel)]="user.password"></FloatLabel>
                        
            <Button class="next-button" text="Suivant" (tap)="goSuivant()"></Button>

            <Label class="label-register" (tap)="goBack()" text="Vous possédez un compte? Se conntecter ici."></Label>

        </StackLayout>

    </ScrollView>
</StackLayout>