ActionBar{
    background-color: #F64060
}

.ActionBarTitle{
    color: white;
    font-family: Medium;
    font-size: 20pt;
}

StackLayout {
    padding-bottom: 15;
    background-color:white;
}

Button {
  margin-left: 32;
  margin-right: 32;
  margin-top: 10;
}

TextView  {
  margin-left: 32;
  margin-right: 32;
  margin-top: 10;
  
  border-style: solid;
  border-width: 3px;
  border-color: #FA9FAF;
  border-radius: 5;
}
.profile-button {
    background-color: #ffffff;
    border-color: #F64060;
    border-radius: 54px;
    border-style: solid;
    border-width: 2px;
    color: #F64060;
    margin-top: 20;
  }

.texte{
    text-align: center;
    font-family: Medium;
    font-size: 14pt;
    margin-top: 32px;
    width: 78%;
    color: black;
}

.submit-button {
    background-color: #F64060;
    border-radius: 54px;
    color: white;
    margin-top: 32;
    width: 70%;
}

.font-awesome {
    font-family: "fontawesome-webfont";
    font-size: 24;
 }
 
 .radioBefore {
    font-family: "fontawesome-webfont";
    font-size: 24;
 }